* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.contenedor {
    display: grid;
    place-items: center; 
    height: 100vh;
    width: 100%;
    background-image: url('Imagenes/fondo_horizontal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cartas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40%;
}

.carta img {
        display: block;
        cursor: pointer;
        width: auto;
        height: 380px;
        border-radius: 16%;
    }

a {
    border:none;
    padding: 0;
    background: none;

}
a:hover img{
    transform: scale(1.05);
}
/*CSS responsive:*/
@media screen and (max-width: 768px) {
    .cartas {
        /* Se pone en forma de columna */
        flex-direction: column; 
        /* Se tuvo que cambiar el gap anterior porque rompía el diseño. */
        gap: 30px; 
        padding: 20px;
    }
    .carta img {
        width: 90%; 
        max-width: 250px; /*Se marca un maximo para evitar que aumente demasiado. */
        height: auto;   
        border-radius: 12%; 
        margin: 0 auto;
    }
    a:hover img {
        transform: scale(1.02);
    }
}
