* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.contenedor_entrada {
    position:relative;
    display:grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100vh;
}
.cuadro_narrativa {
    position: absolute;
    top: 20px;       
    left: 50%;
    transform: translateX(-50%);
    width: 80%;    
    height: 17%;  
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    border: 2px solid #8dd4c8; 
    z-index: 100;   
    font-family: 'Georgia', serif;
}
.fondo_carta {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('Imagenes/fondo2.png');
    background-position: center;
    background-size: cover;
    z-index: 1;

}
.imagen_carta {
    z-index: 3;
    background-image: url('Imagenes/cartaKAELtransparente.png');
    height: auto;
    max-width: 100%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
