.paisaje_oeste {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/paisajeoeste.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}

.bruja {
    position: absolute;
    z-index: 20;
    height: 350px;
    width: 150px;
    background-image: url('../Imagenes/bruja_transparencia.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}