.paisaje_oeste {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/paisajeoeste.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}

