.castillo_este2 {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/saladcha.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}

.tigre {
    position: absolute;
    z-index: 30;
    height: 400px;
    width: 200px;
    background-image: url('../Imagenes/monstruo3_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}