.castillo_este {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/pasillo_direcciondcha.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.monstruo2 {
    position: absolute;
    z-index: 30;
    height: 400px;
    width: 200px;
    background-image: url('../Imagenes/monstruo2_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}