.castillo_oeste2 {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/salaizq.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}