.castillo_este2Sin {
    position: relative;
    z-index: 20;
    background-image: url('../Imagenes/saladcha.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}